// Fonts
baseFontBold = 'ubuntubold', sans-serif, arial
baseFontLight = 'ubuntulight', sans-serif, arial
baseFontMedium = 'ubuntumedium', sans-serif, arial
baseFontRegular = 'ubunturegular', sans-serif, arial

baseFontMainTitle = 'gagalinregular', sans-serif, arial 
baseFontTitle = 'lifehackmedium', sans-serif, arial

// Colors
primaryBlackColor = #2f3234
primaryWhiteColor = #fff

primaryYellowColor = #f9b43b
primaryOrangeColor = #e45028