// Fonts
baseFontBold = 'ubuntubold', sans-serif, arial
baseFontLight = 'ubuntulight', sans-serif, arial
baseFontMedium = 'ubuntumedium', sans-serif, arial
baseFontRegular = 'ubunturegular', sans-serif, arial

baseFontMainTitle = 'gagalinregular', sans-serif, arial 
baseFontTitle = 'lifehackmedium', sans-serif, arial

// Colors
primaryBlackColor = #2f3234
primaryDarkColor = #1f2122
primaryWhiteColor = #fff

primaryYellowColor = #f9b43b
primaryOrangeColor = #e45028
primaryDarkOrangeColor = #c1401e

// Z-index 
$z-index1 = 9999999
$z-index2 = 999999
$z-index3 = 99999
$z-index4 = 9999
$z-index5 = 999