@import 'base/_typography.styl'
@import 'base/reset.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

@import 'components/_buttons.styl'

/* ***************
    main styles
 ************** */

.hero
    .container
        flex-direction column
        justify-content space-between

.hero__row
    display flex
    padding-bottom 10px
    justify-content center

.hero__col
    width 50%

.hero__pic
    position relative
    padding 0px 14px 0 50px

.hero__drops
    position absolute
    top -7%
    left 1%
    width 100% !important

.hero__desc
    padding-left 10px

.hero__title
    margin 42px 0 18px 0
    line-height 85px
    color primaryYellowColor
    & + span 
        font 65px / 60px baseFontTitle
        letter-spacing -1.5px
        color primaryWhiteColor

.hero__arrow
    width 100%
    margin-bottom 26px
    text-align center

.we__title
    margin 74px 0 86px 0
    text-align center

.we__row
    display flex
    justify-content space-between

.we__col
    max-width 300px
    text-align center

.we__desc
    h3 
        margin 20px 0 15px 0
        font 24px / 28px baseFontTitle

.we__natural
    h3
        margin 32px 0 8px 0

.burger
    background-color primaryYellowColor

.burger__carousel
    width 100%
    overflow hidden

.burger__wrap
    display flex

// Слишком много flexbox, с этим надо что то делать
.burger__slide
    position relative
    flex 1 0 100%

    display flex
    align-items center

.burger__row    
    display flex
    align-items center
    justify-content center
    min-height 480px

.burger__hover
    position absolute
    top 0
    left 100%
    display none
    width 270px
    padding 20px 10px 20px 14px
    background-color rgba(primaryWhiteColor,.9) 
    border-radius 5px
    li 
        display flex
        align-items center
        &:not(:last-child)
            margin-bottom 14px
    svg 
        flex 1

.burger__close
    position absolute
    top 0
    right 0
    z-index $z-index3
    display none

.burger__comp
    position absolute
    top 4px
    left 0
    width 90px
    height 90px
    padding-top 14px
    text-align center
    background-color primaryOrangeColor
    border-radius 5px
    cursor pointer
    p 
        font 14px / 14px baseFontMainTitle 
        color primaryWhiteColor
    
.burger__comp:hover .burger__hover
    display block

.burger__product
    flex 2
    padding-left 20px   
    font-family baseFontMedium
    text-align left

.burger__weight
    flex 1

.burger__col
    width 50%

.burger__col_align_start
    align-self flex-start

.burger__cont
    padding-left 10px

.burger__desc
    margin-bottom 20px
    color primaryWhiteColor
    h2 
        margin-bottom 36px
        font 72px / 64px baseFontMainTitle

.burger__order
    display flex
    align-items flex-end

.burger__price
    margin-right 26px
    font 30px / 1 baseFontMainTitle
    color primaryOrangeColor
    span 
        font 72px / 1 baseFontMainTitle

.burger__kkal
    position absolute
    bottom 0
    left 0
    text-align center
    color primaryWhiteColor
    span 
        position absolute
        top 33%
        left 25%
        font 20px / 24px baseFontMainTitle
    p
        font-family baseFontMainTitle
        line-height 14px

.burger__prev,
.burger__next
    position absolute
    top 48.5%
    z-index $z-index1

.burger__prev
    left 3.5%
    transform rotate(90deg)

.burger__next
    right 3.5%
    transform rotate(-90deg)

.team__row
    display flex
    justify-content flex-end

.team__col
    width 100%
    max-width 540px
    height 100vh
    padding-left 81px
    background-color rgba(primaryBlackColor,.9)

.team__title
    padding 84px 0 73px 0
    color primaryYellowColor

.team__acco
    max-width 380px

.team__sect:not(:last-child)
    margin-bottom 22px

.team__name
    font 14px / 28px baseFontMainTitle
    color primaryYellowColor
    span 
        cursor pointer

.team__arrow
    margin-right 10px

.team__cont
    overflow hidden

.team__wrap
    display flex    
    padding 10px 16px

.team__pic
    width 100px
    height 100px
    overflow hidden
    border-radius 50%

.team__img
    transform scale(1.4) translate(-3px,11px)

.team__desc
    max-width 240px
    padding-left 23px
    color primaryWhiteColor
    h4 
        margin-bottom 16px
        line-height 14px
        font-family baseFontBold

.team__sect.collapsed
    .team__name
        color primaryWhiteColor
    .team__arrow
        transform rotate(-180deg)
    .team__cont
        height 0px

.menu__title
    position absolute
    top 16.5%
    left 8.7%
    z-index $z-index3
    color primaryWhiteColor

.menu__acco
    position relative
    z-index $z-index2

    display flex
    height 100vh

    justify-content flex-end

.menu__sect
    display flex

.menu__pannel
    position relative
    width 80px
    z-index $z-index3
    cursor pointer

.menu__name
    position absolute
    top 83%
    left 6%
    right 0
    z-index $z-index4
    font 40px / 64px baseFontMainTitle 
    white-space nowrap
    color primaryYellowColor
    transform rotate(-90deg)

.menu__cont
    max-width 541px
    background-color rgba(primaryBlackColor,.9)
    overflow hidden

.menu__desc
    padding 56px 34px
    color primaryWhiteColor

.menu__sect.collapsed
    .menu__name
        color primaryWhiteColor
    .menu__cont
        max-width 0px

.review__row
    display flex
    height inherit
    flex-wrap wrap

.review__hover
    position absolute
    top 0 
    left 0
    z-index $z-index1
    display none
    width 100%
    height 100%
    padding 43px 30px 50px 19px
    background-color rgba(primaryBlackColor,.7)

.review__col
    position relative
    z-index $z-index2
    flex 1 0 25%
    filter grayscale(100)
    
.review__col:hover .review__hover
    display block

.review__desc
    margin-bottom 12px
    color primaryWhiteColor
    h3    
        margin-bottom 16px
        font 14px / 24px baseFontMainTitle

.review__btn
        display none
    &_visibility_modile
        display none

.review__modal
    position absolute
    top 0
    left 0
    z-index $z-index1
    display flex
    width 100%
    height 100%
    align-items center
    justify-content center
    background-color rgba(primaryBlackColor,.9)

.review__popup
    position relative
    max-width 460px
    padding 22px 20px
    background-color primaryWhiteColor
    border-radius 5px
    h4 
        @extend .review__desc h3

.review__close
    position absolute
    top 7%
    right 4.4%
    z-index $z-index1

.review__modal.collapsed
    display none

.form__title
    margin 84px 0 76px 0
    text-align center
    color primaryYellowColor  

.form__field
    margin-bottom 12px !important

.form__row
    display flex

.form__row:not(:last-child)
    margin-bottom 14px

.form__col  
    flex 1

.form__col:not(:last-child)
    margin-right 20px

.form__label
    display block
    margin-bottom 3px
    color primaryWhiteColor 

.form__input[type="text"],
.form__textarea
    width 100%
    border-radius 5px

.form__input[type="text"]
    padding 9px 20px

.form__textarea
    padding 6px 20px

.form__set
    margin-top 7px
    color primaryWhiteColor
    .form__label
        margin-bottom 0

.form__puy
    display flex
    margin-bottom 15px
    align-items center

.form__change
    margin-right 20px

.form__input[type="checkbox"],
.form__input[type="radio"]
    display none

.form__input[type="radio"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/Ellipse.png') no-repeat 300px 300px / 52%
    border-radius 50%
    cursor pointer

.form__input[type="checkbox"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/w128h1281338911632checkmark21.png') no-repeat 300px 300px / 70%
    cursor pointer

.form__input[type="radio"]:checked + label::before
    background-position center

.form__input[type="checkbox"]:checked + label::before
    background-position center

.cont__map
    width 100%
    height 100%

@media (orientation portrait) and (max-width 1024px)
    .hero__row
        width 100%
        max-width 470px
        margin 0 auto
        padding 0
        flex-direction column
        text-align center

    .hero__col
        width 100%

    .hero__pic
        padding 0 0 0 3.5%

    .hero__burger
        width 90%

    .hero__drops
        top -8%
        left 0%

    .hero__desc
        padding 0

    .hero__title
        margin 3% 0
        & + span 
            font 65px / 60px baseFontTitle
            letter-spacing -1.5px
            color primaryWhiteColor

    .hero__arrow
        width 100%
        margin-bottom 26px
        text-align center

    .we__title
        margin 16% 0 23% 0

    .we__row
        padding 0 12px

    .we__col
        max-width 230px

    .burger
        .container
                align-items center

    .burger__carousel
        width 100%
        overflow hidden

    .burger__wrap
        display flex

    .burger__row 
        max-width 600px
        min-height 750px
        margin 0 auto

        flex-direction column
        text-align center

    .burger__hover
        width 320px
        padding-right 58px

    .burger__close
        display inline-block
        top 5.5%
        right 6.5%

    .burger__comp
        top 0
        left 18.5%

    .burger__col
        width 100%

    .burger__pic
        margin-bottom 3%

    .burger__burger
        width 85%

    .burger__col_align_start
        align-self center

    .burger__cont
        align-self center

    .burger__desc
        margin-bottom 5%
        h2
            max-width 75%
            margin 0 auto
            padding-bottom 20px

    .burger__order
        max-width 336px
        margin 0 auto

    .burger__kkal
        top 0
        right 18.5%
        bottom auto
        left auto

    .burger__prev,
    .burger__next
        top 49%

    .burger__prev
        left 4.5%

    .burger__next
        right 4.5%

    .team__col
        max-width 100%
        padding 0

    .team__title
        padding 15.4% 0 16.3% 0

    .team__acco
        max-width 345px
        margin 0 auto
        text-align center

    .team__sect:not(:last-child)
        margin-bottom 8.5%

    .team__name
        font-size 24px

    .team__wrap
        flex-direction column
        padding 4% 0 0 0

    .team__pic
        margin 0 auto

    .team__desc
        max-width 100%
        padding 0
        h4 
            margin 5.5% 0 4.5% 0

    .menu__title
        top 10.5%
        left 2.7%

    .menu__name
        top 89.5%
        left 4%

    .review__hover
        padding 7.5% 12%

    .review__col
        flex 1 0 50%
        text-align center

    .review__desc
        margin-bottom 8%
        h3
            margin-bottom 2%

    .review__popup
        max-width 472px
        padding 3% 2.5%
        h4
            margin-bottom 4%

    .form__title
        margin 16% 0 10% 0

    .form__form
        max-width 475px
        margin 0 auto    

    .form__field
        margin-bottom 6.8% !important
        flex-direction column
        // Переключаем margin у главных колонок
        & > .form__col:first-child
            margin 0 0 2.8% 0

    .form__textarea=
        padding 7px 20px

    .form__ghost
        display none


@media (orientation portrait) and (max-width 480px)
    .hero__row
        max-width 370px
        padding-top 8%

    .hero__pic
        padding 0 0 0 4.5%

    .hero__drops
        top -17%
        left 1%
        width 98% !important

    .hero__title
        margin 11% 0 1% 0
        font-size 63px
        line-height 60px
        & + span
            font-size 54px

    .hero__arrow
        margin-bottom 4%

    .we__title
        margin 10% 0 16% 0

    .we__row
        flex-direction column
        padding 0 0 0 4%

    .we__col
        display flex
        max-width 100%
        align-items flex-start
        justify-content space-between
        &:not(:last-child)
            margin-bottom 10%

    .we__desc
        max-width 320px
        text-align left
        h3
            margin 0 0 4% 0

    .we__hand
        margin-bottom 6%

    .we__natural
        h3
            margin 5% 0 4% 0

    .burger
        .container
            align-items flex-start

    .burger__slide
        margin-top 11%

    .burger__row
        min-height auto
        padding-top 24%

    .burger__comp
        left 0

    .burger__pic
        margin-bottom 1%

    .burger__burger
        width 88%

    .burger__desc
        margin-bottom 3%
        h2
            padding-bottom 3%
            font-size 50px
            line-height 60px

    .burger__order
        max-width 292px

    .burger__price
        margin-right 11%
        font-size 24px
        span
            font-size 50px

    .burger__kkal
        right 0

    .burger__prev,
    .burger__next
        top 46.5% 

    .burger__prev
        left 0

    .burger__next
        right 0

    .team__title
        padding 11.4% 0 18.3% 0

    .menu__acco
        flex-direction column

    .menu__sect
        flex-direction column

    .menu__pannel
        width 100%
        padding 1% 3%

    .menu__name
        position static
        font-size 36px
        transform rotate(0deg)

    .menu__desc
        padding 5%

    .menu__sect.collapsed
        .menu__cont
            max-width 100%
            height 0

    .review__hover
        padding 0 12%
        
    .review__col:hover .review__hover
        display flex
        flex-direction column
        justify-content center
        align-items center

    .review__desc
        h3
            font-size 24px
            line-height 28px
        p
            display none

    .review__btn
        display none
        &_visibility_modile
            display inline-block

    .review__popup
        max-width 460px
        padding 4% 4.5%
        h4
            margin 1% 0 3% 0
            font-size 14px

    .form__title
        margin 12% 0 4.6% 0

    .form__col:not(:last-child)
        margin-right 2.5%

    .form__flat
        margin 0 !important

    .form__floor
        display none

    .form__set
        .form__label
            margin-top 6%
            text-align center

    .form__puy
        margin-bottom 6.2%
        justify-content center

    .form__order
        padding 1% 0
        text-align center

    .form__btn_type_submit
        margin-left 3%


@media (orientation portrait) and (max-width 425px)
    .hero__drops
        display none

    .hero__pic
        padding 0

    .hero__burger
        width 80%

    .hero__title
        margin 5% 0 3% 0
        font-size 54px
        line-height 1
        & + span 
            font-size 42px
            line-height 1
    
    .hero__arrow
        svg
            width 52% !important
            height 52% !important

    .we__title
        margin 5% 0 15% 0

    .we__col
        svg
            width 12% !important 
            height 12% !important

    .we__desc
        max-width 82%

    .we__natural h3
        margin 0 0 4% 0

    .burger__comp
        width 74px
        height 74px
        & > p
            display none

    .burger__hover
        top 100%
        left 0

    .burger__burger
        width 80%

    .burger__desc
        h2
            font-size 42px
            line-height 1

    .burger__prev,
    .burger__next
        svg
            width 52% !important 
            height 52% !important

    .team__title
        padding 5% 0 15% 0

    .team__arrow
        margin-right 2%

    .menu__title
        top 5%

    .menu__name
        font-size 24px
        line-height 48px

    .review__popup
        max-width 95%

    .form__title
        margin 5% 0 15% 0
        font-size 36px
        line-height 1

@media (orientation portrait) and (max-width 375px)
    .hero__burger
        width 75%

    .we__desc
        h3
            font-size 20px
            line-height 1
    
    .team__sect
        &:not(:last-child)
            margin-bottom 6.5%

    .team__name
        font-size 20px

    .team__desc
        h4
            margin 4.5% 0 3.5% 0

    .form__title
        margin 5% 0 10% 0

@media (orientation portrait) and (max-width 345px)
    .hero__title
        font-size 44px
        & + span 
            font-size 32px

    .we__row
        padding 0

    .we__desc
        max-width 85%

    .burger__comp
        width 58px
        height 58px
        padding-top 2%
        & > svg
            width 88% !important 
            height 88% !important

    .burger__hover
        width 280px

    .burger__row
        padding-top 18%

    .burger__desc
        h2
            font-size 38px

    .burger__order
        max-width 230px

    .burger__price
        margin-right 7%
        font-size 18px
        span
            font-size 38px

    .burger__kkal
        svg
            width 68% !important 
            height 68% !important
        span
            top 34%
            left 34%
            font-size 12px
            line-height 1

    .team__sect
        &:not(:last-child)
            margin-bottom 5%

    .team__name
        font-size 18px

    .menu__name
        font-size 18px
        line-height 42px

    .review__desc
        h3
            font-size 18px
            line-height 1

    .review_btn.review__btn_visibility_modile
        font-size 10px

    .form__title
        font-size 24px

    .form__row
        &:not(:last-child)
            margin-bottom 5%

    .form__label
        margin-bottom 3%
        font-size 10px
        line-height 1

    .form__input[type="text"],
    .form__textarea
        padding 9px 10px

    .form__textarea
        height 75px

    .form__set 
        .form__label
            margin-top 0

@media (orientation portrait) and (max-width 345px) and (max-height 520px)
    .we__title
        margin 5% 0 10% 0
        font-size 38px

    .burger__desc
        h2
            max-width 100%
            font-size 32px

    .team__title
        padding 5% 0 10% 0

    .menu__desc
        font-size 10px
        line-height 20px

    .form__title
        margin 5% 0 7% 0

@media (orientation landscape) and (max-width 960px)
    .hero__col
        width 38%

    .hero__drops
        display none

    .hero__pic
        padding 0 3% 0 20%

    .hero__title
        margin 12% 0 2%
        font-size 52px
        line-height 58px
        text-align left
        & + span 
            font-size 40px
            line-height 45px

    .hero__arrow
        svg 
            width 32% !important 
            height 32% !important

    .we__title
        margin 5% 0

    .we__col
        svg 
            width 28% !important 
            height 28% !important

    .we__desc
        h3
            margin 5% 0 3% 0

    .burger
        .container
            align-items center

    .burger__comp
        display none

    .burger__row
        min-height auto

    .burger__col
        width 45%

    .burger__desc
        h2
            margin-bottom 5%
            font-size 62px
            line-height 1

    .burger__kkal
        display none

    .burger__prev
        left 1.5%

    .burger__next
        right 1.5%

    .burger__price
        margin-right 5%
        font-size 24px
        span
            font-size 50px

    .team__title
        padding 5% 0
        text-align left

    .menu__name
        font-size 38px
        line-height 62px

    .menu__desc
        padding 5% 3%

    .review__col
        text-align center

    .review__hover
        padding 0 12%
        
    .review__col:hover .review__hover
        display flex
        flex-direction column
        justify-content center
        align-items center

    .review__desc
        h3
            font-size 24px
            line-height 28px
        p
            display none

    .review__btn
        display none
        &_visibility_modile
            display inline-block

    .form__title
        margin 5% 0

    .form__col
        &:not(:last-child)
            margin-right 2%

/* ************
    main styles end
 ************** */

@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_footer.styl'

@import 'components/_error.styl'