@import 'base/_typography.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

/* ***************
    main styles
 ************** */

.hero
    background url('images/content/hero/bg.png') no-repeat center / cover
    .container
        flex-direction column
        justify-content space-between

.hero__row
    display flex
    padding-bottom 10px

.hero__col
    flex 1 0 50%

.hero__pic
    position relative
    padding 0px 14px 0 50px

.hero__drops
    position absolute
    top -7%
    left 1%
    width 100% !important 

.hero__desc
    padding-left 10px

.hero__title
    margin 42px 0 18px 0
    line-height 85px
    color primaryYellowColor
    & + span 
        font 65px / 60px baseFontTitle
        letter-spacing -1.5px
        color primaryWhiteColor

.hero__arrow
    width 100%
    margin-bottom 26px
    text-align center

.we
    background url('images/content/we/bg.png') no-repeat center / cover

.we__title
    margin 74px 0 86px
    text-align center

.we__row
    display flex
    justify-content space-between

.we__col
    max-width 300px
    text-align center

.we__desc
    h3 
        margin 20px 0 15px 0
        font 24px / 28px baseFontTitle 

.we__natural
    h3
        margin 32px 0 8px 0

.burger
    background-color primaryYellowColor

.burger__carousel
    width 100%
    overflow hidden

.burger__wrap
    display flex

.burger__slide
    position relative
    flex 1 0 100%
    min-height 480px
    display flex
    align-items center

.burger__list
    position absolute
    top 0
    left 100%
    display none
    width 270px
    padding 20px 10px 20px 14px
    background-color rgba(primaryWhiteColor,.9) 
    border-radius 5px
    li 
        display flex
        align-items center
        &:not(:last-child)
            margin-bottom 14px
    svg 
        flex 1

.burger__comp
    position absolute
    top 4px
    left 0
    width 90px
    height 90px
    padding-top 14px
    text-align center
    background-color primaryOrangeColor
    border-radius 5px
    cursor pointer
    p 
        font 14px / 14px baseFontMainTitle 
        color primaryWhiteColor
    
.burger__comp:hover .burger__list
    display block

.burger__product
    flex 2
    padding-left 20px   
    font-family baseFontMedium
    text-align left

.burger__weight
    flex 1

.burger__pic,
.burger__cont
    width 50%

.burger__cont
    padding-left 10px
    align-self flex-start

.burger__desc
    margin 0 0 20px 0
    color primaryWhiteColor
    h2 
        margin-bottom 36px
        font 72px / 64px baseFontMainTitle

.burger__order
    display flex
    align-items flex-end

.burger__price
    margin-right 26px
    font 30px / 1 baseFontMainTitle
    color primaryOrangeColor
    span 
        font 72px / 1 baseFontMainTitle 

.burger__kkal
    position absolute
    bottom 0
    left 0
    text-align center
    color primaryWhiteColor
    span 
        position absolute
        top 33%
        left 25%
        font 20px / 24px baseFontMainTitle
    p
        font-family baseFontMainTitle
        line-height 14px

.burger__prev
    position absolute
    top 48.5%
    left 3.5%
    z-index $z-index1
    transform rotate(90deg)

.burger__next
    position absolute
    top 48.5%
    right 3.5%
    z-index $z-index1
    transform rotate(-90deg)

.team
    background url('images/content/team/bg.png') no-repeat top center / cover

.team__row
    display flex
    justify-content flex-end

.team__col
    width 100%
    max-width 540px
    height 100vh
    padding-left 81px
    background-color rgba(primaryBlackColor,.9)

.team__title
    padding 84px 0 73px 0
    color primaryYellowColor

.team__acco
    max-width 380px

.team__sect:not(:last-child)
    margin-bottom 22px

.team__name
    font 14px / 28px baseFontMainTitle
    color primaryYellowColor
    span 
        cursor pointer

.team__arrow
    margin-right 10px

.team__cont
    overflow hidden

.team__wrap
    display flex    
    padding 10px 16px

.team__pic
    width 100px
    height 100px
    overflow hidden
    border-radius 50%

.team__img
    transform scale(1.4) translate(-3px,11px)

.team__desc
    max-width 240px
    padding-left 23px
    color primaryWhiteColor
    h4 
        margin-bottom 16px
        line-height 14px
        font-family baseFontBold

.team__sect.collapsed
    .team__name
        color primaryWhiteColor
    .team__arrow
        transform rotate(-180deg)
    .team__cont
        height 0px

.menu
    background url('images/content/menu/bg.png') no-repeat center / cover

.menu__title
    position absolute
    top 16.5%
    left 8.7%
    color primaryWhiteColor

.menu__acco
    display flex
    justify-content flex-end

.menu__sect
    display flex
    height 100vh

.menu__pannel
    position relative
    width 80px
    z-index $z-index3
    cursor pointer

.menu__name
    position absolute
    top 83%
    left 6%
    right 0
    z-index $z-index4
    font 40px / 64px baseFontMainTitle 
    white-space nowrap
    color primaryYellowColor
    transform rotate(-90deg)

.menu__cont
    max-width 541px
    background-color rgba(primaryBlackColor,.9)
    overflow hidden

.menu__desc
    padding 56px 34px
    color primaryWhiteColor

.menu__sect.collapsed
    .menu__name
        color primaryWhiteColor
    .menu__cont
        max-width 0px

.review__row
    display flex
    height inherit
    flex-wrap wrap

.review__hover
    position absolute
    top 0 
    left 0
    z-index $z-index1
    display none
    width 100%
    height 100%
    padding 43px 30px 50px 19px
    background-color rgba(primaryBlackColor,.7)

.review__col
    position relative
    z-index $z-index2
    flex 1 0 25%
    filter grayscale(100)
    
    
.review__col:hover .review__hover
    display block

.review__desc
    margin-bottom 12px
    color primaryWhiteColor
    h3    
        margin-bottom 16px
        font 14px / 24px baseFontMainTitle 

.review__modal
    position absolute
    top 0
    left 0
    z-index $z-index1
    display flex
    width 100%
    height 100%
    align-items center
    justify-content center
    background-color rgba(primaryBlackColor,.9)

.review__popup
    position relative
    max-width 460px
    padding 22px 20px
    background-color primaryWhiteColor
    border-radius 5px
    h4
        @extend .review__desc h3

.review__close
    position absolute
    top 7%
    right 4.4%
    z-index $z-index1

.review__modal.collapsed
    display none

.form
    background primaryBlackColor url('images/content/form/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png') no-repeat center / cover

.form__title
    margin 84px 0 76px 0
    text-align center
    color primaryYellowColor

.form__field
    margin-bottom 12px !important

.form__row
    display flex

.form__row:not(:last-child)
    margin-bottom 14px

.form__col  
    flex 1

.form__col:not(:last-child)
    margin-right 20px

.form__label
    display block
    margin-bottom 3px
    color primaryWhiteColor 

.form__input[type="text"],
.form__textarea
    width 100%
    border-radius 5px

.form__input[type="text"]
    padding 9px 20px 

.form__textarea
    padding 6px 20px

.form__set
    margin-top 7px

.form__puy
    display flex
    margin-bottom 15px
    align-items center

.form__change
    margin-right 20px

.form__input[type="checkbox"],
.form__input[type="radio"]
    display none

.form__input[type="radio"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/Ellipse.png') no-repeat 300px 300px / 52%
    border-radius 50%
    cursor pointer

.form__input[type="checkbox"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/w128h1281338911632checkmark21.png') no-repeat 300px 300px / 70%
    cursor pointer

.form__input[type="radio"]:checked + label::before
    background-position center

.form__input[type="checkbox"]:checked + label::before
    background-position center

.form__order,
.form__clean
    float left

/* ***************
    main styles end
 ************** */

@import 'components/_buttons.styl'
@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_footer.styl'