@import 'base/_typography.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

@import 'components/_buttons.styl'

/* ***************
    main styles
 ************** */

.hero
    background url('images/content/hero/bg.png') no-repeat center / cover
    .container
        flex-direction column
        justify-content space-between

.hero__row
    display flex
    padding-bottom 10px
    @media (orientation portrait) and (max-width 1024px)
        width 100%
        max-width 470px
        margin 0 auto
        padding 0
        flex-direction column
        text-align center
    @media (orientation portrait) and (max-width 480px)
        max-width 370px
        padding-top 8%

.hero__col
    flex 1 0 50%
    @media (orientation portrait) and (max-width 1024px)
        flex 1 0 100%

.hero__pic
    position relative
    padding 0px 14px 0 50px
    @media (orientation portrait) and (max-width 1024px)
        padding 0 0 0 3.5% 
    @media (orientation landscape) and (max-width 1024px)
        text-align center
    @media (orientation portrait) and (max-width 480px)
        padding 0 0 0 4.5%
    @media (orientation landscape) and (max-width 960px)
        text-align right

.hero__burger
    @media (orientation portrait) and (max-width 1024px),
    (orientation landscape) and (max-width 1024px)
        width 90%
    @media (orientation landscape) and (max-width 960px)
        width 80%

.hero__drops
    position absolute
    top -7%
    left 1%
    width 100% !important 
    @media (orientation portrait) and (max-width 1024px)
        top -8%
        left 0%
    @media (orientation landscape) and (max-width 1024px)
        top -11%
        left 6%
        width 90% !important
    @media (orientation portrait) and (max-width 480px)
        top -17%
        left 1%
        width 98% !important
    @media (orientation landscape) and (max-width 960px)
        top -28%
        left 23%
        width 75% !important
    @media (orientation portrait) and (max-width 465px)
        display none

.hero__desc
    padding-left 10px
    @media (orientation portrait) and (max-width 1024px)
        padding 0

.hero__title
    margin 42px 0 18px 0
    line-height 85px
    color primaryYellowColor
    @media (orientation portrait) and (max-width 1024px)
        margin 3% 0
    @media (orientation landscape) and (max-width 1024px)
        margin-bottom 12px
        font-size 68px
        line-height 80px
    @media (orientation portrait) and (max-width 480px)
        margin 11% 0 1% 0
        font-size 63px
        line-height 60px
    @media (orientation landscape) and (max-width 960px)
        font-size 50px
        line-height 1
    & + span 
        font 65px / 60px baseFontTitle
        letter-spacing -1.5px
        color primaryWhiteColor
        @media (orientation landscape) and (max-width 1024px)
            font-size 52px
            line-height 48px
        @media (orientation portrait) and (max-width 480px)
            font-size 54px
        @media (orientation landscape) and (max-width 960px)
            display inline-block
            max-width 75%
            font-size 38px
            line-height 1

.hero__arrow
    width 100%
    margin-bottom 26px
    text-align center
    @media (orientation portrait) and (max-width 480px)
        margin-bottom 4%
    @media (orientation landscape) and (max-width 960px)
        svg
            width 30% !important 
            height 30% !important 
.we
    background url('images/content/we/bg.png') no-repeat center / cover

.we__title
    margin 74px 0 86px 0
    text-align center
    @media (orientation portrait) and (max-width 1024px)
        margin 16% 0 23% 0
    @media (orientation portrait) and (max-width 480px)
        margin 10% 0 16% 0
    @media (orientation landscape) and (max-width 960px)
        margin 5% 0

.we__row
    display flex
    justify-content space-between
    @media (orientation portrait) and (max-width 1024px)
        padding 0 12px
    @media (orientation portrait) and (max-width 480px)
        flex-direction column
        padding 0 0 0 4%

.we__col
    max-width 300px
    text-align center
    @media (orientation portrait) and (max-width 1024px)
        max-width 230px
    @media (orientation portrait) and (max-width 480px)
        display flex
        max-width 100%
        justify-content space-between
        &:not(:last-child)
            margin-bottom 10%
    @media (orientation landscape) and (max-width 960px)
        svg
            width 25% !important
            height 25% !important

.we__desc
    @media (orientation portrait) and (max-width 480px)
        max-width 320px
        text-align left
    h3 
        margin 20px 0 15px 0
        font 24px / 28px baseFontTitle 
        @media (orientation portrait) and (max-width 480px)
            margin 0 0 4% 0
        @media (orientation landscape) and (max-width 960px)
            font-size 22px
            line-height 1

.we__hand
    @media (orientation portrait) and (max-width 480px)
        margin-bottom 6%

.we__natural
    h3
        margin 32px 0 8px 0
        @media (orientation portrait) and (max-width 480px)
            margin 5% 0 4% 0
        @media (orientation landscape) and (max-width 960px)
            margin-top 20px

.burger
    background-color primaryYellowColor
    .container
        @media (orientation portrait) and (max-width 1024px)
            align-items center
        @media (orientation portrait) and (max-width 480px)
            align-items flex-start

.burger__carousel
    width 100%
    overflow hidden

.burger__wrap
    display flex

// Слишком много flexbox, с этим надо что то делать
.burger__slide
    position relative
    flex 1 0 100%

    display flex
    align-items center
    @media (orientation portrait) and (max-width 480px)
        margin-top 11%

.burger__row    
    display flex
    align-items center
    min-height 480px
    @media (orientation portrait) and (max-width 1024px)
        max-width 600px
        min-height 750px
        margin 0 auto

        flex-direction column
        text-align center
    @media (orientation portrait) and (max-width 480px)
        min-height auto
        padding-top 24%

.burger__hover
    position absolute
    top 0
    left 100%
    display none
    width 270px
    padding 20px 10px 20px 14px
    background-color rgba(primaryWhiteColor,.9) 
    border-radius 5px
    @media (orientation portrait) and (max-width 1024px)
        width 320px
        padding-right 58px
    li 
        display flex
        align-items center
        &:not(:last-child)
            margin-bottom 14px
    svg 
        flex 1

.burger__close
    position absolute
    top 0
    right 0
    z-index $z-index3
    display none
    @media (orientation portrait) and (max-width 1024px)
        display inline-block
        top 5.5%
        right 6.5%

.burger__comp
    position absolute
    top 4px
    left 0
    width 90px
    height 90px
    padding-top 14px
    text-align center
    background-color primaryOrangeColor
    border-radius 5px
    cursor pointer
    @media (orientation portrait) and (max-width 1024px)
        top 0
        left 18.5%
    @media (orientation landscape) and (max-width 1024px)
        left 2%
    @media (orientation portrait) and (max-width 480px)
        left 0
    @media (orientation landscape) and (max-width 960px)
        display none
    p 
        font 14px / 14px baseFontMainTitle 
        color primaryWhiteColor
    
.burger__comp:hover .burger__hover
    display block

.burger__product
    flex 2
    padding-left 20px   
    font-family baseFontMedium
    text-align left

.burger__weight
    flex 1

.burger__col
    width 50%
    @media (orientation portrait) and (max-width 1024px)
        width 100%

.burger__pic
    @media (orientation portrait) and (max-width 1024px)
        margin-bottom 3%
    @media (orientation landscape) and (max-width 1024px)
        text-align right
    @media (orientation portrait) and (max-width 480px)
        margin-bottom 1%

.burger__burger
    @media (orientation portrait) and (max-width 1024px),
    (orientation landscape) and (max-width 1024px)
        width 85%
    @media (orientation portrait) and (max-width 480px)
        width 88%

.burger__col_align_start
    align-self flex-start
    @media (orientation portrait) and (max-width 1024px)
        align-self center

.burger__cont
    padding-left 10px
    @media (orientation portrait) and (max-width 1024px)
        align-self center

.burger__desc
    margin-bottom 20px
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 1024px)
        margin-bottom 5%
    @media (orientation portrait) and (max-width 480px)
        margin-bottom 3%
    h2 
        margin-bottom 36px
        font 72px / 64px baseFontMainTitle
        @media (orientation portrait) and (max-width 1024px)
            max-width 75%
            margin 0 auto
            padding-bottom 20px
        @media (orientation landscape) and (max-width 1024px)
            margin 28px 0
            font-size 64px
            line-height 60px
        @media (orientation portrait) and (max-width 480px)
            padding-bottom 3%
            font-size 50px
            line-height 60px

.burger__order
    display flex
    align-items flex-end
    @media (orientation portrait) and (max-width 1024px)
        max-width 336px
        margin 0 auto
    @media (orientation portrait) and (max-width 480px)
        max-width 292px

.burger__price
    margin-right 26px
    font 30px / 1 baseFontMainTitle
    color primaryOrangeColor
    @media (orientation landscape) and (max-width 1024px)
        font-size 26px
    @media (orientation portrait) and (max-width 480px)
        margin-right 11%
        font-size 24px
    span 
        font 72px / 1 baseFontMainTitle 
        @media (orientation landscape) and (max-width 1024px)
            font-size 64px
        @media (orientation portrait) and (max-width 480px)
            font-size 50px

.burger__kkal
    position absolute
    bottom 0
    left 0
    text-align center
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 1024px)
        top 0
        right 18.5%
        bottom auto
        left auto
    @media (orientation landscape) and (max-width 1024px)
        left 2%
    @media (orientation portrait) and (max-width 480px)
        right 0
    @media (orientation landscape) and (max-width 960px)
        display none
    span 
        position absolute
        top 33%
        left 25%
        font 20px / 24px baseFontMainTitle
    p
        font-family baseFontMainTitle
        line-height 14px

.burger__prev,
.burger__next
    position absolute
    top 48.5%
    z-index $z-index1
    @media (orientation portrait) and (max-width 1024px)
        top 49%
    @media (orientation portrait) and (max-width 480px)
        top 46.5%

.burger__prev
    left 3.5%
    transform rotate(90deg)
    @media (orientation portrait) and (max-width 1024px)
        left 4.5%
    @media (orientation landscape) and (max-width 1024px)
        left 1.5%
    @media (orientation portrait) and (max-width 480px)
        left 0

.burger__next
    right 3.5%
    transform rotate(-90deg)
    @media (orientation portrait) and (max-width 1024px)
        right 4.5%
    @media (orientation landscape) and (max-width 1024px)
        right 1.5%
    @media (orientation portrait) and (max-width 480px)
        right 0

.team
    background url('images/content/team/bg.png') no-repeat top center / cover

.team__row
    display flex
    justify-content flex-end

.team__col
    width 100%
    max-width 540px
    height 100vh
    padding-left 81px
    background-color rgba(primaryBlackColor,.9)
    @media (orientation portrait) and (max-width 1024px)
        max-width 100%
        padding 0

.team__title
    padding 84px 0 73px 0
    color primaryYellowColor
    @media (orientation portrait) and (max-width 1024px)
        padding 15.4% 0 16.3% 0
    @media (orientation portrait) and (max-width 480px)
        padding 11.4% 0 18.3% 0
    @media (orientation landscape) and (max-width 960px)
        padding 5% 0

.team__acco
    max-width 380px
    @media (orientation portrait) and (max-width 1024px)
        max-width 345px
        margin 0 auto
        text-align center

.team__sect:not(:last-child)
    margin-bottom 22px
    @media (orientation portrait) and (max-width 1024px),
    (orientation landscape) and (max-width 960px)
        margin-bottom 8.5%
.team__name
    font 14px / 28px baseFontMainTitle
    color primaryYellowColor
    @media (orientation portrait) and (max-width 1024px)
        font-size 24px
    @media (orientation landscape) and (max-width 960px)
        line-height 1
    span 
        cursor pointer

.team__arrow
    margin-right 10px

.team__cont
    overflow hidden

.team__wrap
    display flex    
    padding 10px 16px
    @media (orientation portrait) and (max-width 1024px)
        flex-direction column
        padding 4% 0 0 0

.team__pic
    width 100px
    height 100px
    overflow hidden
    border-radius 50%
    @media (orientation portrait) and (max-width 1024px)
        margin 0 auto
    @media (orientation landscape) and (max-width 960px)
        width 70px
        height 70px

.team__img
    transform scale(1.4) translate(-3px,11px)
    @media (orientation landscape) and (max-width 960px)
        transform scale(1.4) translate(-2px, 7px)

.team__desc
    max-width 240px
    padding-left 23px
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 1024px)
        max-width 100%
        padding 0
    @media (orientation landscape) and (max-width 960px)
        padding-left 3%
    h4 
        margin-bottom 16px
        line-height 14px
        font-family baseFontBold
        @media (orientation portrait) and (max-width 1024px)
            margin 5.5% 0 4.5% 0
        @media (orientation landscape) and (max-width 960px)
            margin-bottom 5%

.team__sect.collapsed
    .team__name
        color primaryWhiteColor
    .team__arrow
        transform rotate(-180deg)
    .team__cont
        height 0px

.menu
    background url('images/content/menu/bg.png') no-repeat center / cover

.menu__title
    position absolute
    top 16.5%
    left 8.7%
    z-index $z-index3
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 1024px)
        top 10.5%
        left 2.7%

.menu__acco
    position relative
    z-index $z-index2

    display flex
    height 100vh

    justify-content flex-end
    @media (orientation portrait) and (max-width 480px)
        flex-direction column

.menu__sect
    display flex
    @media (orientation portrait) and (max-width 480px)
        flex-direction column

.menu__pannel
    position relative
    width 80px
    z-index $z-index3
    cursor pointer
    @media (orientation portrait) and (max-width 480px)
        width 100%
        padding 1% 3%

.menu__name
    position absolute
    top 83%
    left 6%
    right 0
    z-index $z-index4
    font 40px / 64px baseFontMainTitle 
    white-space nowrap
    color primaryYellowColor
    transform rotate(-90deg)
    @media (orientation portrait) and (max-width 1024px)
        top 89.5%
        left 4%
    @media (orientation portrait) and (max-width 480px)
        position static
        font-size 36px
        transform rotate(0deg)

.menu__cont
    max-width 541px
    background-color rgba(primaryBlackColor,.9)
    overflow hidden

.menu__desc
    padding 56px 34px
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 480px)
        padding 5%

.menu__sect.collapsed
    .menu__name
        color primaryWhiteColor
    .menu__cont
        max-width 0px
        @media (orientation portrait) and (max-width 480px)
            max-width 100%
            height 0
        

.review__row
    display flex
    height inherit
    flex-wrap wrap

.review__hover
    position absolute
    top 0 
    left 0
    z-index $z-index1
    display none
    width 100%
    height 100%
    padding 43px 30px 50px 19px
    background-color rgba(primaryBlackColor,.7)
    @media (orientation portrait) and (max-width 1024px)
        padding 7.5% 12%
    @media (orientation portrait) and (max-width 480px)
        padding 0 12%

.review__col
    position relative
    z-index $z-index2
    flex 1 0 25%
    filter grayscale(100)
    @media (orientation portrait) and (max-width 1024px)
        flex 1 0 50%
        text-align center
    
.review__col:hover .review__hover
    display block
    @media (orientation portrait) and (max-width 480px)
        display flex
        flex-direction column
        justify-content center
        align-items center

.review__desc
    margin-bottom 12px
    color primaryWhiteColor
    @media (orientation portrait) and (max-width 1024px)
        margin-bottom 8%
    h3    
        margin-bottom 16px
        font 14px / 24px baseFontMainTitle 
        @media (orientation portrait) and (max-width 1024px)
            margin-bottom 2%
        @media (orientation portrait) and (max-width 480px)
            font-size 24px
            line-height 28px
    p
        @media (orientation portrait) and (max-width 480px)
            display none

.review__btn
    @media (orientation portrait) and (max-width 480px)
        display none
    &_visibility_modile
        @media (orientation portrait) and (max-width 480px)
            display inline-block

.review__modal
    position absolute
    top 0
    left 0
    z-index $z-index1
    display flex
    width 100%
    height 100%
    align-items center
    justify-content center
    background-color rgba(primaryBlackColor,.9)

.review__popup
    position relative
    max-width 460px
    padding 22px 20px
    background-color primaryWhiteColor
    border-radius 5px
    @media (orientation portrait) and (max-width 1024px)
        max-width 472px
        padding 3% 2.5%
    @media (orientation portrait) and (max-width 480px)
        max-width 460px
        padding 4% 4.5%
    h4 
        @extend .review__desc h3
        @media (orientation portrait) and (max-width 1024px)
            margin-bottom 4%
        @media (orientation portrait) and (max-width 480px)
            margin 1% 0 3% 0
            font-size 14px

.review__close
    position absolute
    top 7%
    right 4.4%
    z-index $z-index1

.review__modal.collapsed
    display none

.form
    background primaryBlackColor url('images/content/form/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png') no-repeat center / cover

.form__title
    margin 84px 0 76px 0
    text-align center
    color primaryYellowColor
    @media (orientation portrait) and (max-width 1024px)
        margin 16% 0 10% 0
    @media (orientation portrait) and (max-width 480px)
        margin 12% 0 4.6% 0

.form__form
    @media (orientation portrait) and (max-width 1024px)
        max-width 475px
        margin 0 auto    

.form__field
    margin-bottom 12px !important
    @media (orientation portrait) and (max-width 1024px)
        margin-bottom 6.8% !important
        flex-direction column
        // Переключаем margin у главных колонок
        & > .form__col:first-child
            margin 0 0 2.8% 0

.form__row
    display flex

.form__row:not(:last-child)
    margin-bottom 14px

.form__col  
    flex 1

.form__col:not(:last-child)
    margin-right 20px
    @media (orientation landscape) and (max-width 1024px)
        margin-right 14px
    @media (orientation portrait) and (max-width 480px)
        margin-right 2.5%

.form__label
    display block
    margin-bottom 3px
    color primaryWhiteColor 

.form__input[type="text"],
.form__textarea
    width 100%
    border-radius 5px

.form__input[type="text"]
    padding 9px 20px 

.form__flat
    @media (orientation portrait) and (max-width 480px)
        margin 0 !important

.form__floor
    @media (orientation portrait) and (max-width 480px)
        display none

.form__textarea
    padding 6px 20px
    @media (orientation portrait) and (max-width 1024px)
        padding 7px 20px 

.form__set
    margin-top 7px
    color primaryWhiteColor
    .form__label
        margin-bottom 0
    @media (orientation portrait) and (max-width 480px)
        margin-top 6%
        text-align center

.form__puy
    display flex
    margin-bottom 15px
    align-items center
    @media (orientation portrait) and (max-width 480px)
        margin-bottom 6.2%
        justify-content center

.form__change
    margin-right 20px

.form__input[type="checkbox"],
.form__input[type="radio"]
    display none

.form__input[type="radio"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/Ellipse.png') no-repeat 300px 300px / 52%
    border-radius 50%
    cursor pointer

.form__input[type="checkbox"] + label::before
    content ''
    display inline-block
    width 15px
    height 15px
    margin-right 10px
    vertical-align -3px
    background primaryWhiteColor url('images/general/w128h1281338911632checkmark21.png') no-repeat 300px 300px / 70%
    cursor pointer

.form__input[type="radio"]:checked + label::before
    background-position center

.form__input[type="checkbox"]:checked + label::before
    background-position center

.form__ghost
    @media (orientation portrait) and (max-width 1024px)
        display none

.form__order
    @media (orientation portrait) and (max-width 480px)
        padding 1% 0
        text-align center

.form__btn_type_submit
    @media (orientation portrait) and (max-width 480px)
        margin-left 3%

/* ***************
    main styles end
 ************** */

@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_footer.styl'