doctype

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title
            block title

        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="styles.min.css")

        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    body.page
        block content

        script(src="jquery.min.js")
        script(src="common.min.js")