*,
*::before,
*::after
    box-sizing border-box
    
html 
    font-size 14px 
    line-height 24px
    font-family baseFontLight 
    color primaryBlackColor 

body
    position relative

.wrapper
    min-height 100vh

.sect
    position relative
    height 100vh

.container
    display flex
    width 100%
    max-width 960px
    height inherit
    margin 0 auto
    padding 0 10px
    align-items center

.sect__cont
    width 100%
    min-height 650px

.sect__title
    font-size 72px
    line-height 64px
    font-family baseFontMainTitle 
    color primaryBlackColor

.clearfix::after
    content ''
    display block
    clear both

input[type="text"],
textarea
    border none
    outline-color primaryYellowColor

@media (orientation portrait) and (max-width 1024px),
(orientation landscape) and (max-width 960px)
    .container
        align-items flex-start

    .sect__cont
        min-height auto

    .sect__title
        text-align center

@media (orientation portrait) and (max-width 480px),
(orientation landscape) and (max-width 960px)
    .sect__title
        font-size 50px
        line-height 60px

@media (orientation portrait) and (max-width 425px)
    html
        font-size 12px
        line-height 22px

@media (orientation portrait) and (max-width 345px)
    .sect__title
        font-size 42px
        line-height 1

@media (orientation landscape) and (max-width 960px)
    html
        font-size 12px
        line-height 22px
