footer.footer(data-src="url('images/content/footer/chalkboard_texture_mc2015_by_mattiamc-d8dbnacb.png') no-repeat center / cover")
    .container
        .footer__inner
            .footer__info
                .footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                .footer__phone 
                    svg(width="11px", height="11px", viewBox="0 0 11 11")
                        use(xlink:href="icons/sprite-svg.svg#phone")
                    | +7 (812) 377-13-77
            .footer__social
                ul
                    //- #1
                    li
                        a(href="javascript:void(0);")
                            svg(width="23px", height="13px", viewBox="0 0 126 72")
                                use(xlink:href="icons/sprite-svg.svg#vk")
                    //- #1 end

                    //- #2
                    li
                        a(href="javascript:void(0);")
                            svg(width="20px", height="20px", viewBox="0 0 36.711 36.711")
                                use(xlink:href="icons/sprite-svg.svg#fb")
                    //- #2 end

                    //- #3
                    li
                        a(href="javascript:void(0);")
                            svg(width="20px", height="20px", viewBox="0 0 36.663 36.664")
                                use(xlink:href="icons/sprite-svg.svg#inst")
                    //- #3 end

                    //- #4
                    li
                        a(href="javascript:void(0);")
                            svg(width="19px" height="16px" viewBox="0 0 37.453 31.21")
                                use(xlink:href="icons/sprite-svg.svg#twitter")
                    //- #4 end