header.header
    .header__inner
        .header__banner.banner
            svg(width="95.265px", height="70.317px", viewBox="0 0 98.265 74.317")
                use(xlink:href="sprite-svg.svg#logo")
        .header__navbar
            include _nav
        .header__order
            a(href="javascript:void(0);").btn.btn__order Заказать
        button(type="button").header__menu.navbar-trigger
            span
            span
            span