nav.navbar
    ul
        li
            a(href="javascript:void(0);") О нас
        li
            a(href="javascript:void(0);") Бургеры
        li
            a(href="javascript:void(0);") Команда
        li
            a(href="javascript:void(0);") Меню
        li
            a(href="javascript:void(0);") Отзывы
        li
            a(href="javascript:void(0);") Контакты
    button(type="button").navbar__close
        svg(width="19px" height="19px" viewBox="0 0 14.988 14.988")
            use(xlink:href="sprite-svg.svg#menu")