nav.navbar
    ul
        li
            a(href="javascript:void(0);") О нас
        li
            a(href="javascript:void(0);") Бургеры
        li
            a(href="javascript:void(0);") Команда
        li
            a(href="javascript:void(0);") Меню
        li
            a(href="javascript:void(0);") Отзывы
        li
            a(href="javascript:void(0);") Контакты