nav.navbar
    ul
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="we") О нас
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="burger") Бургеры
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="team") Команда
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="menu") Меню
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="review") Отзывы
        li
            a(href="javascript:void(0);", data-scroll, data-anchor="contact") Контакты
    button(type="button").navbar__close
        svg(width="19px" height="19px" viewBox="0 0 14.988 14.988")
            use(xlink:href="sprite-svg.svg#menu")