.footer
    position absolute
    bottom 0
    left 0
    z-index $z-index1
    width 100%

.footer__inner
    display flex
    width 100%
    padding 5px 0
    justify-content space-between
    align-items center

.footer__address
    color primaryWhiteColor

.footer__phone
    font-family baseFontBold
    color primaryOrangeColor
    svg 
        margin-right 9px

.footer__social
    li
        display inline-block
        vertical-align middle
        &:not(:last-child)
            margin-right 17px
    a
        display inline-block
        opacity .3
        &:hover
            opacity 1

@media (orientation portrait) and (max-width 1024px)
    .footer__inner
        padding 6px 2%

@media (orientation portrait) and (max-width 480px)
    .footer__inner
        padding 2%
        
        flex-direction column
        text-align center

    .footer__phone
        margin-bottom 18px

@media (orientation portrait) and (max-width 345px)
    .footer__phone,
    .footer__address
        font-size 10px

    .footer__phone
        margin-bottom 5%
        svg 
            vertical-align -3px